@import './../../../styles/sass-resources/sass-resources.scss';

.main {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.heading {
  @include fonts__h2;
  position: relative;
  overflow: hidden;
  opacity: 0;
  padding-block-end: 0.25rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-s);
  @include respond-to(tablet) {
    flex-direction: row;
    gap: var(--spacing-m);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.swiper {
  position: relative;
  overflow: visible !important;
  width: 100%;
  padding: 2rem 0;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  bottom: -80px;
  @include respond-to(tablet) {
    bottom: -100px;
  }
  transform: translateY(-50%);
  font-size: 3rem;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  &:hover {
    svg {
      fill: $colors__neon-blue;
      scale: 1.2;
    }
  }
}

.arrow {
  fill: $colors__white;
  @include transition(fill, scale 0.5s);
}

.swiper-button-prev-custom {
  left: calc(50% - 4rem);
}

.swiper-button-next-custom {
  left: calc(50% + 1rem);
}

.arrowRight {
  transform: rotate(180deg);
}
