@import './../../../styles/sass-resources/sass-resources.scss';

.main {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.heading {
  @include fonts__h2;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-s);
  @include respond-to(tablet) {
    flex-direction: row;
    gap: var(--spacing-m);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.swiper {
  position: relative;
  overflow: visible !important;
  width: 100%;
  padding: 2rem 0;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
