@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600&display=swap');
$fonts__base-size: 16px;
$fonts__font-weight--xs: 100;
$fonts__font-weight--s: 200;
$fonts__font-weight--sm: 300;
$fonts__font-weight--s: 400;
$fonts__font-weight--m: 500;
$fonts__font-weight--mh: 600;
$fonts__font-weight--h: 700;

.plus-jakarta-sans {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-optical-sizing: auto;
}

.font-fam-montserrat {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
}
$fonts-montserrat: 'Montserrat', sans-serif;
$fonts-jakarta: 'Plus Jakarta Sans', sans-serif;

$fonts-nunito: 'Nunito Sans', sans-serif;

$font-family__main: $fonts-jakarta;

@mixin fonts__h1 {
  font-family: $font-family__main;
  font-size: 4rem;
  font-style: normal;
  line-height: 120%;
  font-weight: $fonts__font-weight--m;
  @include respond-to(desktop) {
    font-size: 8rem;
  }
}

@mixin fonts__h2 {
  font-family: $font-family__main;
  font-size: 3rem;
  font-style: normal;
  line-height: 120%;
  font-weight: $fonts__font-weight--m;
  @include respond-to(desktop) {
    font-size: 5rem;
  }
}
@mixin fonts__h3 {
  font-family: $font-family__main;
  font-size: 2.25rem;
  font-style: normal;
  line-height: 100%;
  font-weight: $fonts__font-weight--xs;
  @include respond-to(desktop) {
    font-size: 3rem;
  }
}

@mixin fonts__h4 {
  font-family: $font-family__main;
  font-size: 1.5rem;
  font-style: normal;
  line-height: 100%;
  font-weight: $fonts__font-weight--xs;
}

@mixin fonts__h5 {
  font-family: $font-family__main;
  font-size: 1.25rem;
  font-style: normal;
  line-height: 100%;
  font-weight: $fonts__font-weight--xs;
}

@mixin fonts__p {
  font-family: $font-family__main;
  font-size: 1.25rem;
  font-style: normal;
  line-height: 150%;
  font-weight: $fonts__font-weight--s;
}

@mixin fonts__eyebrow {
  text-transform: uppercase;
  font-family: $font-family__main;
  font-size: 1.25rem;
  font-style: normal;
  line-height: 150%;
  font-weight: $fonts__font-weight--s;
}

@mixin fonts__nav {
  font-family: $font-family__main;
  font-size: 0.85rem;
  @include respond-to(desktop) {
    font-size: 1.15rem;
  }
  font-style: normal;
  line-height: 110%;
  font-weight: $fonts__font-weight--s;
}
