$colors__dark-neutral: #000d2d;
$colors__white: #ffffff;
$colors__light-neutral: #f6f6f6;
$colors__caution: #ffbd00;
$colors__black: #000;
$colors__hyperlink: #a2177d;
$colors__dark-grey: #635f5f;
$colors__white: #fff;

// $colors__background-dark: #2b2929;

// themed

//background
$colors__grey-strong: #24262b;

$colors__ox-blue: #0b132b;
$colors__space-blue: #1c2541;
$colors__pale-blue: #3a506b;
// $colors__neon-blue: #66d8ed;
$colors__neon-blue: #00ead3;
$colors__neon-red: #f21170;
