$colors__dark-neutral: #000d2d;
$colors__white: #ffffff;
$colors__light-neutral: #f6f6f6;
$colors__caution: #ffbd00;
$colors__black: #000;
$colors__hyperlink: #a2177d;
$colors__dark-grey: #635f5f;
$colors__red: red;
$colors__white: #fff;
$colors__background-dark: #2b2929;
