@use './../../../styles/sass-resources/sass-resources.scss' as *;

.main {
  position: fixed;
  z-index: -1;
  pointer-events: none;
  inset: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}
