@import './../../../styles/sass-resources/sass-resources.scss';

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;

  --swiper-pagination-bullet-inactive: $colors__neon-blue;
}

.heading {
  @include fonts__h2;
  position: relative;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.pictures-container {
  display: flex;
  gap: var(--spacing-m);
}

.swiper {
  position: relative;
  overflow: visible !important;
  width: 100%;
  padding: 2rem 0;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.swiper-button-prev-custom,
.swiper-button-next-custom {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  bottom: -80px;
  @include respond-to(tablet) {
    bottom: -100px;
  }
  transform: translateY(-50%);
  font-size: 3rem;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  &:hover {
    svg {
      fill: $colors__neon-blue;
      scale: 1.2;
    }
  }
}

.arrow {
  fill: $colors__white;
  @include transition(fill, scale 0.5s);
}

.swiper-button-prev-custom {
  left: calc(50% - 3rem);
}

.swiper-button-next-custom {
  left: calc(50% + 1rem);
}

.arrowRight {
  transform: rotate(180deg);
}

// .swiper-pagination-custom {
//   height: 20px;
//   background: $colors__neon-blue;
//   --swiper-pagination-bullet-inactive-color: white;
//   --swiper-pagination-bullet-width: 15px;
//   --swiper-pagination-bullet-height: 15px;
// }
