@import './../../../styles/sass-resources/sass-resources.scss';

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.heading {
  @include fonts__h2;
}

.subHeading {
  @include fonts__h3;
}

.heading,
.subHeading {
  position: relative;
  overflow: hidden;
}

.heading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  @include respond-to(tablet) {
    flex-direction: row;
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.right {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-inline: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cta {
  &:hover {
    cursor: pointer;
  }
}
