@import './../../../styles/sass-resources/sass-resources.scss';

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  @include fonts__h2;
}

.subHeading {
  @include fonts__h3;
}

.heading-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
