@import './../../../styles/sass-resources/sass-resources.scss';

.main {
  position: fixed;
  &::after {
    display: block;
    position: absolute;
    left: -2rem;
    top: 0;
    content: '';
    width: 100vw;
    height: 100%;
    backdrop-filter: blur(6px);
    z-index: -1;
  }
  top: 0;
  left: 0;
  width: calc(100% - 4rem);
  z-index: 2;
  display: flex;
  padding-block: 1.625rem 1.5rem;
  margin-inline: 2rem;
  // going to change once there is a logo in there too
  justify-content: flex-end;
  border-bottom: solid 1px rgba($color: $colors__white, $alpha: 0.5);
}

.tabs-container {
  display: flex;
  gap: var(--spacing-xs);
  @include respond-to(mobile) {
    gap: var(--spacing-s);
  }
}
