@import './../../../styles/sass-resources/sass-resources.scss';

.main {
  position: fixed;
  gap: var(--spacing-xs);
  &::after {
    display: block;
    position: absolute;
    left: -2rem;
    top: 0;
    content: '';
    width: 100vw;
    height: 100%;
    backdrop-filter: blur(6px);
    z-index: -1;
  }
  top: 0;
  left: 0;
  width: calc(100% - 4rem);
  z-index: 2;
  display: flex;
  align-items: center;
  padding-block: 1.625rem 1.5rem;
  margin-inline: 2rem;
  justify-content: space-between;
  border-bottom: solid 1px rgba($color: $colors__white, $alpha: 0.5);
}

.logo-container {
  display: flex;
  align-items: center;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
  }
}

.logo {
  height: auto;
  width: auto;
  max-height: 45px;

  @include respond-to(mobile) {
    max-height: 35px;
  }
}

.tabs-container {
  display: flex;
  gap: var(--spacing-xs);
  @include respond-to(mobile) {
    gap: var(--spacing-s);
  }
}
