@import './../../../styles/sass-resources/sass-resources.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.heading,
.secondaryHead {
  @include fonts__h2;
  position: relative;
  overflow: hidden;
}
.secondaryHead {
  color: var(--colors__neon-blue);
}

.heading-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.description {
  @include fonts__p;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column-reverse;
  gap: 1rem;
  @include respond-to(tablet) {
    flex-direction: row;
    gap: 0;
  }
  align-items: center;
  justify-content: space-around;
}

.content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  @include respond-to(tablet) {
    gap: var(--spacing-m);
    max-width: 50%;
  }
}

.image {
  object-fit: cover;
  z-index: 1;
}

.image-container {
  width: 250px;
  height: 250px;
  @include respond-to(tablet) {
    width: 400px;
    height: 400px;
  }
  position: relative;
  overflow: hidden;
  // border: 1px solid $colors__white;
  border-radius: 50%;
}
